<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <sectionGroup name="kobo.com">
      <section name="scribe" type="Scribe.Configuration.ScribeClientSection, Scribe"/>
    </sectionGroup>
  </configSections>

  <kobo.com>
    <scribe>
      <server address="127.0.0.1" port="1234" />
    </scribe>
  </kobo.com>
</configuration>